:root {
  --primary-main-color: rgb(0,113,156);
  --primary-light-color: rgba(0,155,214);
  --primary-lighter-color: rgba(0,184,255);
  --primary-moreLighter-color: rgba(0, 113, 156, 0.15);
  --primary-bestLighter-color: rgba(0, 113, 156, 0.05);
  --secondary-main-color: rgb(220,20,60);
  --secondary-light-color: rgba(220,20,60, 0.6);
  --secondary-lighter-color: rgba(220,20,60, 0.3);
  --secondary-moreLighter-color: rgba(220,20,60, 0.15);
  --secondary-bestLighter-color: rgba(220,20,60 0.05);
  --base-button-font-color: rgb(227, 227, 227);
  --base-font-color: rgb(227, 227, 227);
  --base-font-color-opacity05: rgba(227, 227, 227, 0.5);
  --base-font-color-inverted: #333333;
  --base-font-family: "Helvetica", "Open Sans", "Arial", sans-serif;
  --base-font-size: 14;
  --base-font-weight: 400;
  --base-border-radius: 4px;
  --main-black-color: rgba(0, 0, 0, 0.85);
  --main-gray-color: #e3e3e3;
  --main-white-color: #b9b9b9;
  --main-background-color: #333333;
  --inactive-background-color: #717171;
  --inactive-font-color: #b3b3b3;
  --main-outlined-color: rgba(185, 185, 185, 0.6);
  --main-outlined-hover-color: rgba(185, 185, 185, 0.4);
  --h1-font-size: 28;
  --h2-font-size: 24;
  --h3-font-size: 20;
  --h4-font-size: 18;
  --h5-font-size: 16;
  --h6-font-size: 14;
  --opactity-85: 85;
}

//:root {
//  --primary-main-color: rgb(8, 166, 82);
//  --primary-light-color: rgba(8, 166, 82, 0.6);
//  --primary-lighter-color: rgba(8, 166, 82, 0.3);
//  --primary-moreLighter-color: rgba(8, 166, 82, 0.15);
//  --primary-bestLighter-color: rgba(8, 166, 82, 0.05);
//  --secondary-main-color: rgb(246, 101, 10);
//  --secondary-light-color: rgba(246 ,101, 10, 0.6);
//  --secondary-lighter-color: rgba(246, 101, 10, 0.3);
//  --secondary-moreLighter-color: rgba(246, 101, 10, 0.15);
//  --secondary-bestLighter-color: rgba(246, 101, 10, 0.05);
//  --base-button-font-color: rgb(227, 227, 227);
//  --base-font-color: #333333;
//  --base-font-color-opacity05: rgba(51, 51, 51, 0.5);
//  --base-font-color-inverted: #333333;
//  --base-font-family: "Helvetica", "Open Sans", "Arial", sans-serif;
//  --base-font-size: 14;
//  --base-font-weight: 400;
//  --base-border-radius: 4px;
//  --main-black-color: rgba(0,0,0,0.85);
//  --main-gray-color: #b3b3b3;
//  --main-white-color: #b9b9b9;
//  --main-background-color: #ffffff;
//  --inactive-background-color: #717171;
//  --inactive-font-color: #b3b3b3;
//  --main-outlined-color: rgba(0, 0, 0, 0.6);
//  --main-outlined-hover-color: rgba(0, 0, 0, 0.4);
//  --h1-font-size: 28;
//  --h2-font-size: 24;
//  --h3-font-size: 20;
//  --opactity-85: 85;
//}
